{% block form_row %}
    <td>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </td>
{% endblock form_row %}

{#{% block number_row -%}
    <div class="col-sm-3">
        {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
{%- endblock number_row %}
{% block choice_row -%}
    <div class="col-sm-4">
        {{ form_widget(form) }}
    </div>
{%- endblock choice_row %}
#}